* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #f6f8fa;
    height: 100%;
    display: grid;
    grid-template-areas: 'header header header header
     'left middle middle right'
    'left middle middle right';
    grid-template-rows: 62px auto;
    grid-template-columns: 25% 25% 25% 25%;
}

header.top {
    grid-area: header;
    background-color: #24292e;
    color: hsla(0, 0%, 100%, .75);
    padding-bottom: 12px;
    padding-top: 12px;
    height: 38px;
}

.left-aside {
    height: 100%;
    grid-area: left;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    background-color: white;
}

main {
    background-color: #f6f8fa;
    padding-top: 16px;
    grid-area: middle;
    padding-left: 16px;
    padding-right: 16px;
}

.right-aside {
    background-color: #f6f8fa;
    padding-top: 32px;
    grid-area: right;
    padding-left: 16px;
    padding-right: 16px;
}

header > nav {
    height: 100%;
    padding: 0 16px;
}

header > nav.top-left {
    float: left;
    position: relative;
}

header > nav.top-right {
    float: right;
    position: relative;
}

header > nav > ul {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    overflow: hidden;
}

header > nav > ul > li {
    padding: 0 8px;
    display: inline-block;
}

svg.logo-githab {
    fill: white;
}

header.top li#search {
    margin: 0 8px;
    border-radius: 3px;
    height: 30px;
    background-color: hsla(0, 0%, 100%, .125);
}

header.top li#search form {
    height: 100%;
    position: relative;
}

header.top li#search form img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

nav.top-left input[type=text] {
    height: 100%;
    vertical-align: middle;
    background: none;
    border: none;
    color: white;
}

header > nav > ul > li > a {
    color: white;
    text-align: center;
    text-decoration: none;
}

header > nav > ul > li > a:hover {
    color: gray;
}

.left-aside > nav {
    overflow: hidden;
    padding-top: 32px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}


h4 {
    font-weight: 600;
    margin-bottom: 8px;
}

aside.left-aside header a {
    float: right;
    background-color: #28a745;
    color: white;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: .25em;
    text-decoration: none;
    font-size: 0.7em;
    padding: 3px 10px;
}

aside.left-aside input {
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 16px;
}

aside.left-aside ul {
    list-style: none;
}

aside.left-aside ul li {
    margin-bottom: 8px;
}

aside.left-aside ul li a {
    text-decoration: blue;
}

aside.left-aside ul li summary {
    font-size: 0.7em;
}

main ul.news {
    list-style: none;
    height: auto;
}

main ul.news li {
    position: relative;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e1e4e8
}

.avatar {
    margin-right: 16px;
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
    overflow: hidden;
}

main li span {
    display: inline-block;
    vertical-align: top;
}

main li article {
    box-sizing: border-box;
    width: calc(100% - 53px);
    display: inline-block;
}

main li article h6 {
    font-size: 0.9em;
    font-weight: normal;
}

main li article a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

main li article div.box-news {
    position: relative;
    margin-top: 8px;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    padding: 16px;
}

main li article div.box-news button {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #eff3f6;
    color: #24292e;
    margin-left: 8px;
    margin-bottom: 8px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
    padding: 3px 10px;
    vertical-align: middle;
}

main li article h6 time {
    color: #6a737d;
    font-size: 0.8em;
}

main div.footer-top {
    margin-top: 24px;
    font-size: 0.8em;
}

main div.footer-top a {
    display: block;
    margin: 8px 0;
}

main div.footer-bottom {
    margin: 32px 0;
    width: 100%;
}

main div.footer-column-left {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding-right: 32px;
}

main div.footer-column-right {
    box-sizing: border-box;
    float: left;
    width: 66.66%;
}

main div.footer-column-right ul {
    list-style: none;
}

main div.footer-column-right ul ul {
    float: left;
    width: 33.33%;
}

main footer {
    font-size: 0.8em;
}
main footer a{
    text-decoration: none;
    color: #586069;
}
aside.right-aside ul {
    list-style: none;
}

aside.right-aside li {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e1e4e8
}

